@using MauiBlazorClient.Components.Pages.MainPage.LeftPanel.ChatList.Chat.ChatContextMenu;

@inject ChatManager ChatManager;


<div class="chat @(ChatManager.CurrentChat == CurrentChat ? "current" : "" )"
     @onclick="OpenChat"
     @oncontextmenu="() => _isContextMenuDisplayed = true"
     @onmouseleave="() => _isContextMenuDisplayed = false">

    <img src="images/@(_isPersonalChat ? "personal" : "group")-chat-icon.jpeg" alt="chat-icon" style=""/>

    <div>
        <div>
            @if (CurrentChat is PersonalChatDTO personalChat)
            {
                @personalChat.Users.FirstOrDefault(u => u.Id != CurrentUser?.Id)?.UserName
            }
            else if (CurrentChat is GroupChatDTO groupChat)
            {
                @groupChat.Name
            }
        </div>  

        @if (_lastMessage is not null)
        {
            <div> @(_lastMessage!.User?.Id != CurrentUser?.Id ? _lastMessage!.User?.UserName + ":" : null) @_lastMessage!.Message </div>
        }
    </div>


    @if (_isContextMenuDisplayed)
    {
        <ChatContextMenu Chat="CurrentChat"/>
    }
</div>

@code {
    [CascadingParameter(Name = "CurrentUser")]
    public UserDTO? CurrentUser { get; set; }

    [Parameter]
    public BaseChatDTO CurrentChat { get; set; } = null!;

    private MessageDTO? _lastMessage;
    private bool _isContextMenuDisplayed;
    private bool _isPersonalChat;

    protected override void OnParametersSet()
        => (_lastMessage, _isPersonalChat) = (CurrentChat.Messages.LastOrDefault(), CurrentChat.GetType().Equals(typeof(PersonalChatDTO)));

    void OpenChat()
    => ChatManager.OpenChat(CurrentChat);
}
