@import '../../../../../../wwwroot/styles/utils/_colors.scss';
@import '../../../../../../wwwroot/styles/utils/_mixins.scss';
@import '../../../../../../wwwroot/styles/utils/_radius.scss';
@import '../../../../../../wwwroot/styles/utils/_spacing.scss';

.chat {
    display: flex;
    align-items: center;
    gap: $sm;
    padding: $xs2;
    border-radius: $radius-10;
    transition: all 500ms ease-out;
    animation: emergence .5s ease-out forwards;
    -webkit-user-select: none;
    user-select: none;

    > img {
        border-radius: $radius-round;
        width: 60px;
        height: 60px;
        flex-grow: 0;
    }

    > div {
        overflow: hidden;
        gap: $xs2;
        flex: 1 0 0;


        div:nth-child(2) {
            @include secondary;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $gray;
        }
    }

    &.current {
        background: $primary;

        div:last-child {
            color: $white;
        }
    }

    &:not(.current):hover {
        background: $black;
    }
}
