$primary: #9d74ff;
$on-primary: #381e72;
$success: #198754;
$danger: #dc3545;
$white: #fff;
$black: #000;
$transparent: transparent;
$dark: #0f0f0f;
$gray: #808080;
$dark-primary: rgba(#D0BCFF, 0.12);
