@import '_colors.scss';


//Fonts
@mixin userName {
    font-family: KiwiMaru;
    font-size: 24px;
    font-weight: 500;
}
@mixin large {
    font-family: Roboto;
    font-size: 24px;
}
@mixin medium {
    font-family: Roboto;
    font-size: 16px;
}
@mixin small {
    font-family: Roboto;
    font-size: 14px;
}
@mixin mini {
    font-family: Roboto;
    font-size: 12px;
}
@mixin secondary {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}


//States

@mixin hovered {
    box-shadow: 0 0 8px 0 $primary;
}
@mixin focused{
    @include hovered;
    border-color: $primary;
    outline: none;
}
@mixin disabled {
    background: $gray;
    color: $dark;
}


