@inject IPersonalChatService _personalChatService;
@inject IGroupChatService _groupChatService;
@inject IDialogService _dialogService;


<div class="new-chat-container"
     @onmouseleave="() => _isNeedCreateNewChat = false">

    @if (!_isNeedCreateNewChat)
    {
        <Button
            OnClick="() => {_isNeedCreateNewChat = true; StateHasChanged();}"
            IconStart="@(new IconList.Size24.AddChat())"/>
    }
    else
    {
        <MenuList>
            <MenuListItem Text="Personal chat" IsShowDivider=true Action="CreatePersonalChat" />
            <MenuListItem Text="Group chat" Action="CreateGroupChat" />
        </MenuList>
    }

</div>


@code {
    private bool _isNeedCreateNewChat;

    void CreatePersonalChat()
        => _dialogService.ShowForm<PersonalChatRequest>("Add chat", async model => await _personalChatService.CreateChatAsync((PersonalChatRequest)model!));

    void CreateGroupChat()
        => _dialogService.ShowForm<GroupChatRequest>("Add group", async model => await _groupChatService.CreateChatAsync((GroupChatRequest)model!));

}