@import '../utils/_colors.scss';
@import '../utils/_radius.scss';
@import '../utils/_spacing.scss';

button {
    background: $dark-primary;
    border-radius: $radius-8;
    padding: $sm $lg;
    border: 1px solid $transparent;
    transition: all 300ms ease-out;
    color: $primary;
    position: relative;
    overflow: hidden;
    

    .ellipse {
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: $radius-round;
        aspect-ratio: 1;
        width: 20%;
        background: inherit;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 1;
    }


    &:hover {
        box-shadow: 0 0 8px 0 $primary;
    }

    &:focused {
        box-shadow: 0 0 8px 1px $primary;
    }

    &:disabled {
        background: $gray;
        color: $dark;
    }

    &.clicked .ellipse {
        animation: onClick 200ms ease-out;
    }
}


@keyframes onClick {
    0% {
        visibility: visible;
    }

    100% {
        width: 120%;
        opacity: 0.4;
    }
}



button.with-icon {
    @extend button;
    width: 48px;
    height: 48px;
    padding: $sm;
    border-radius: $radius-round;

    svg {
        fill: $primary;
    }
}
