@import '../utils/_colors.scss';
@import '../utils/_mixins.scss';
@import '../utils/_spacing.scss';
@import '../utils/_radius.scss';

input {
    background: $dark-primary;
    color: $primary;
    position: relative;
    padding: $sm $lg;
    border-radius: $radius-4;
    width: 100%;
    border: 1px solid $transparent;
    transition: all 300ms ease-out;

    &.error {
        border: 1px solid $danger;
        color: $danger;
    }

    &:disabled {
        background: $gray;
        color: $dark;
    }

    &:-webkit-autofill {
        
        background: $dark-primary;
        -webkit-text-fill-color: $primary;
        transition: all 300ms ease-out, background-color 5000s ease-in-out 0s;
    }


    & ~ div.validation-message {
        @include small;
        position: absolute;
        padding: 4px 16px 0px 16px;
        color: $danger;
    }
}
