@import '../../../../wwwroot/styles/utils/_spacing.scss';

.medium-panel {
    overflow: hidden;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: $sm;
    transition: all .2s ease-in;
}

@media only screen and (max-width: 600px) {
    .medium-panel {
        padding: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .medium-panel{
        padding: 10px 5%;
    }
}

@media only screen and (min-width: 768px){
    .medium-panel{
        padding: 10px 10%;
    }
}

@media only screen and (min-width: 992px){
    .medium-panel{
        padding: 10px 15%;
    }
}
@media only screen and (min-width: 1200px) {
    .medium-panel {
        padding: 10px 20%;
    }
}

