@page "/main";
@attribute [Authorize];

@using MauiBlazorClient.Components.Pages.MainPage.LeftPanel;
@using MauiBlazorClient.Components.Pages.MainPage.MediumPanel;

@inject ChatManager ChatManager;
@inject AuthService AuthService;


<AuthorizeView>
    <CascadingValue Value="@CurrentUser" Name="CurrentUser">
        <CascadingValue Value="@CurrentChat" Name="CurrentChat">
            <div class="content">
                <LeftPanel />
                <MediumPanel />
            </div>
        </CascadingValue>
    </CascadingValue>
</AuthorizeView>


@code {
    public BaseChatDTO? CurrentChat { get; set; }
    public UserDTO? CurrentUser { get; set; }


    protected override void OnInitialized()
        => ChatManager.OnCurrentChatChanged += Update;

    protected override async Task OnInitializedAsync()
        =>  CurrentUser = await AuthService.GetCurrentUserAsync();

    public void Dispose()
        => ChatManager.OnCurrentChatChanged -= Update;


    void Update(BaseChatDTO? chat)
    {
        CurrentChat = chat;
        StateHasChanged();
    }
}