@page "/"
@page "/auth"

@using MauiBlazorClient.Components.Pages.AuthPage.LoginForm;
@using MauiBlazorClient.Components.Pages.AuthPage.RegisterForm;

@implements IDisposable;

@inject AuthenticationStateProvider StateProvider;
@inject IAnimatedNavigationManager Navigation;


<div class="content">
    <CascadingValue Name="AuthState" Value="@_authState">
        <div>
            @if (_authState.IsLogin)
            {
                <LoginForm />
            }
            else
            {
                <RegisterForm />
            }
        </div>
    </CascadingValue>

    @if (_authState.IsSubmitting || _isCheckAuthentication)
    {
        <Loader IsFullPage="true" />
    }
</div>


@code {
    private readonly AuthState _authState = new();

    private bool _isCheckAuthentication = true;

    protected override void OnInitialized()
        => _authState.AuthStateChanged += StateHasChanged;


    protected override async Task OnInitializedAsync()
    {
        AuthenticationState state = await StateProvider.GetAuthenticationStateAsync();

        if (state.User?.Identity?.IsAuthenticated ?? false)
        {
            long expTimeUnix = long.Parse(state.User?.Claims.FirstOrDefault(c => c.Type.Equals("exp"))?.Value ?? "0");

            if (DateTime.UtcNow < DateTimeOffset.FromUnixTimeSeconds(expTimeUnix))
                await Navigation.NavigateToAsync("/main");
        }

        _isCheckAuthentication = false;
    }

    public void Dispose()
        => _authState.AuthStateChanged -= StateHasChanged;



    public class AuthState
    {
        private bool _isSubmitting;
        private bool _isLogin = true;

        public bool IsSubmitting
        {
            get => _isSubmitting;
            set
            {
                _isSubmitting = value;
                AuthStateChanged?.Invoke();
            }
        }

        public bool IsLogin
        {
            get => _isLogin;
            set
            {
                _isLogin = value;
                AuthStateChanged?.Invoke();
            }
        }

        public event Action? AuthStateChanged;
    }
}
