@import '../../../wwwroot/styles/utils/_colors.scss';
@import '../../../wwwroot/styles/utils/_spacing.scss';
@import '../../../wwwroot/styles/utils/_mixins.scss';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: $sm;
    background: $dark;
}

::deep {

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $xl;
        padding: $xl $xl4;
        width: 400px;
        opacity: 0;
        color: $primary;
        animation: emergence 1s ease-out forwards;

        .title {
            @include large;
            text-align: center;
        }

        .manager{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
}
