@import "../../../../../wwwroot/styles/utils/_spacing.scss";
@import "../../../../../wwwroot/styles/utils/_colors.scss";

.message-list {
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline: 5%;

    &::-webkit-scrollbar {
        display: none;
    }
}
