@import '../../../../../wwwroot/styles/utils/_spacing.scss';
@import '../../../../../wwwroot/styles/utils/_mixins.scss';

.user-info {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: baseline;
    padding: $sm;

    p {
        @include userName;
    }
}
