@import "../../../../../../wwwroot/styles/utils/_colors.scss";
@import "../../../../../../wwwroot/styles/utils/_radius.scss";
@import "../../../../../../wwwroot/styles/utils/_spacing.scss";
@import "../../../../../../wwwroot/styles/utils/_mixins.scss";

.message-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: $sm;

    .message {
        max-width: 80%;
        border-radius: $radius-10 $radius-10 $radius-10 0;
        background: $dark-primary;
        display: block;
        padding: $sm;
        overflow-wrap: anywhere;

        div.message-title-username {
            color: $primary;
        }

        span {
            @include mini;
            color: $gray;
            text-align: right;
            float: right;
            position: relative;
            margin-left: $md;
            top: 0.325rem;
        }
    }

    &.own {
        justify-content: flex-end;

        .message {
            border-radius: $radius-10 $radius-10 0 $radius-10;
            background: $primary;
            
            span{
                color: white;
            }
        }
    }
}
