@import '../../../../../wwwroot/styles/utils/_colors.scss';
@import '../../../../../wwwroot/styles/utils/_spacing.scss';
@import '../../../../../wwwroot/styles/utils/_radius.scss';
@import '../../../../../wwwroot/styles/utils/_mixins.scss';


.message-input-container {
    box-shadow: 0 -5px 10px 10px $black;
    z-index: 2;

    .message-input {
        @include medium;
        padding: $md $lg;
        border-radius: $radius-10;
    }
}   
