@import '../../../../../wwwroot/styles/styles.scss';

.message-input {
    border: none;
    width: 100%;
    outline: none !important;
    color: $white;
    padding: $lg;
    border-radius: $radius-10;
    background: $dark;
}
