@inject ChatManager ChatManager;

<div class="message-input-container">
    <input class="message-input" @bind-value="_message" @bind-value:event="oninput" @onkeydown="SendMessage" placeholder="Message" />
</div>

@code {
    private string _message = string.Empty;

    async Task SendMessage(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(_message))
        {
            await ChatManager.SendMessageAsync(new(_message));

            _message = string.Empty;
        }
    }
}
