<div class="error-message" disabled="@_isDisabled">@Message</div>


@code {
    [Parameter] public string? Message { get; set; }
    private bool _isDisabled = true;

    protected override async Task OnParametersSetAsync()
    {
        _isDisabled = false;
        await Task.Delay(2000);
        _isDisabled = true;
    }
}
