@import "../../wwwroot/styles/utils/_colors.scss";
@import "../../wwwroot/styles/utils/_spacing.scss";
@import "../../wwwroot/styles/utils/_mixins.scss";


div.form-wrapper {
    width: 100%;
    flex: 1 0 0;

    ::deep form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $xl;
        width: 100%;
        height: 100%;
        color: $primary;

        .buttons-manager {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}
