@using MauiBlazorClient.Components.Pages.MainPage.LeftPanel.UserInfo;
@using MauiBlazorClient.Components.Pages.MainPage.LeftPanel.ChatList;

<div class="left-panel">
    <UserInfo />
    <ChatList />
</div>


