.left-panel {
    background: var(--dark-color);
    display: flex;
    flex-shrink: 0;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    transition: all .2s ease-in; 
}


@media only screen and (max-width: 600px) {
    .left-panel {
        width: 200px;
    }
}

@media only screen and (min-width: 600px) {
    .left-panel {
        width: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .left-panel {
        width: 350px;
    }
}

@media only screen and (min-width: 992px) {
    .left-panel {
        width: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .left-panel {
        width: 450px;
    }
}
