@using static MauiBlazorClient.Components.Pages.AuthPage.Auth

@inject AuthService AuthService;
@inject IAnimatedNavigationManager Navigation;


<EditForm Model="@_inputModel" FormName="Login" OnValidSubmit="@Submit" disabled="@AuthState?.IsSubmitting">
    <div class="title">Sign in</div>

    <DataAnnotationsValidator />

    <div>
        <InputText @bind-Value="_inputModel.Email" placeholder="Email" type="" />
        <ValidationMessage For="() => _inputModel.Email" />
    </div>
    <div>
        <InputText @bind-Value="_inputModel.Password" placeholder="Password" />
        <ValidationMessage For="() => _inputModel.Password" />
    </div>

    <div class="manager">
        <Button Type="ButtonType.Submit">Login</Button>
        <Button OnClick="() => AuthState.IsLogin = false">Not have account</Button>
    </div>
    <ErrorMessage Message="@_errorMessage" />
</EditForm>


@code {
    [CascadingParameter(Name = "AuthState")]
    public AuthState AuthState { get; set; } = null!;

    private LoginRequest _inputModel = new();
    private string? _errorMessage;


    async Task Submit()
    {
        AuthState!.IsSubmitting = true;
        _errorMessage = string.Empty;

        (bool isSuccessfully, _errorMessage) = await AuthService.LoginAsync(_inputModel);

        if (isSuccessfully)
            await Navigation.NavigateToAsync("/main");

        AuthState!.IsSubmitting = false;
    }
}
