.chat-list {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: stretch;
    flex-direction: column;
    flex: 1 0 0;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
