@using MauiBlazorClient.Components.Pages.MainPage.LeftPanel.ChatList.Chat;
@using MauiBlazorClient.Components.Pages.MainPage.LeftPanel.ChatList.NewChatButton;

@implements IAsyncDisposable;

@inject AuthService AuthService;
@inject IAnimatedNavigationManager Navigation;
@inject ChatManager ChatManager;
@inject IDialogService DialogService;


<div class="chat-list">
    @if (Chats?.Count > 0)
    {
        @foreach (BaseChatDTO chat in Chats)
        {
            <Chat CurrentChat="@chat" />
        }
    }
    else if (Chats is not null)
    {
        <p>You not have any chat</p>
    }
    else
    {
        <Loader />
    }

    <NewChatButton />
</div>


@code {
    private List<BaseChatDTO>? Chats;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ChatManager.ConnectAsync();
            ChatManager.OnChatsChanged += UpdateChats;
        }
        catch
        {
            AuthService.Logout();
            await Navigation.NavigateToAsync("/auth");
            DialogService.ShowNotification("Authentication timeout", "Authentication time exipred, login again.");
        }
    }

    void UpdateChats(List<BaseChatDTO> chats)
    {
        Chats = chats;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        ChatManager.OnChatsChanged -= UpdateChats;
        await ChatManager.DisconnectAsync();
    }
}
